.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 50px;
    /* box-shadow: 0px 0px 5px #000; */
    width: 100%;
    height: 80px;
    padding: 0px 2rem;
  position: static;

}
#logo{
    color: rgb(131, 132, 136);
    font-size: 2rem;
    padding: 5px 10px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    /* font-family: Arial, Helvetica, sans-serif; */
    cursor: pointer;
    margin-top: -30px;
    margin-right: 40px ;
    letter-spacing: 2px;
    
}
#logo span{
    color: rgb(82, 112, 255) ;
    font-size: 2.8rem;
    /* padding: 5px 10px; */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma;
}

.search-insite-box{
    position: relative;
    height: 35px;
    max-width: 400px;
    width: 100%;
    display: inline-block;
}
.search-box input{
    width: 400px;
    height: 35px;
    
    outline: none;
    border-color:rgb(131, 132, 136);
    border-width: 0.5px;
    background-color: rgba(0, 0, 0,0.05);
    font-weight: bold;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
::placeholder{
    font-size: 1.2rem;
    padding:5px 10px ;
    color: black;
}
.search-insite-box img{
    height: 35px;
    width: 35px;
    position: absolute;
    transform: translate(-35px,0px);
    background-color: rgba(0, 0, 0,0.9);
    padding: 5px;
    /* padding: 10px 10px; */
    cursor: pointer;
    border-radius: 10px;



}
.sign-in,.panier{
    height: 90px;
    width: 100px;
    margin-top: 49px;
    transform: translateX(3rem);
}

.sign-in img{
    width: 30px;
    height: 30px;
   transform: translateX(3.5rem);
    cursor: pointer;
}

.panier img{
    width: 30px;
    height: 30px;
   transform: translateX(7px);
    cursor: pointer;
}

.sign-in img:hover,.panier img:hover,.btn-contact:hover,#contact:hover{
    opacity: 0.8;
}
.sign-in p,.panier p{
    /* text-align: center; */
    color:rgb(131, 132, 136) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7rem;
    
}
.sign-in p{
    transform: translateX(2.5rem);

}
#contact{
    position: relative;
    width: 100px;
    height: 40px;
}
.btn-contact{
    position: absolute;
    height: inherit;
    width: inherit;
    padding: 5px 5px;
    border: none;
    outline: none;
    background-color: rgba(82, 112, 255,0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
}
.panier .badge{
    z-index: 300;
    /* background-color:rgba(0, 160, 240,0.7) ; */
    background-color:rgba(0, 0, 0,1) ;
    color: white;
    border-radius: 50%;
    transform: translate(-20px,-10px);
}








@media screen and (max-width:760px){

    #contact{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: column;
        line-height: 40px;
        padding: 40px 0px 40px 0px;
    }
    .sign-in{
        position: absolute;
        top: -2rem;
        right:  0rem;
        margin-bottom: none;
        
        
    }
    .panier img,.sign-in img{
        width: 30px;
        height: 30px;
    }
    .panier{
        position: absolute;
        top: -2rem;
        right:  6rem; 
        margin-bottom: none;

       
      
    }
    #logo{
        position: absolute;
        top: 2rem;
        left: 0;
        font-size: 1.3rem;
    }
    #logo>span{
        font-size: 1.4rem;
    }
    .search-box{
        margin-top: 50px;
        /* margin-bottom: 20rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    #carouselExampleControlsNoTouching{
        margin-top: 3rem;
    }
    #bars{display: block;}
    .search-box input{
        width: 250px;
        margin-left: 30px;
    }

   
   

}




/*               DropDown styled              */

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    top: 0;
    min-width: 7rem;
    padding: 0.2rem;
    z-index: 1;
  
    background-color: #5270ff;
    margin: 0;
    margin-top: 1.4rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.dropdown:hover .dropdown-content{
    display: block;
}
a{
    text-decoration: none;
}
.user-name{
    position: absolute;
    width: 2.2rem;
    height: 2.29rem;
    text-align: center;
    background: rgb(131, 132, 136);
    /* margin-top: -0.6rem; */
    font-size: 1.4rem;
    font-weight: bolder;
    color: white;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255,.01);
}