body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  /* background-color: rgb(0, 253, 253); */
  background-color: rgb(253, 253, 253);
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    
    
}
/*  Style de mon Toast */
.custom-toast{
font-size: 0.9rem;
font-weight: bold;
max-width: 12rem;
width: 100%;
}
.row>*{
    flex-shrink: 0;
    width: auto important;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}


/*             sidebar                    */
#sidebar{
    position: sticky;
    top: 0px;
    z-index: 34;
    /* position: relative; */
    width: 100%;
    height: 40px;
    background-color: black;
    transition: position 0.3s;
}
.sticky{
    position: fixed;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    
}
.navbar-item{
    list-style: none;
    font-size: 1.4rem;   
}
.navbar-item a{
    text-decoration: none;
    color: white;
    font-family: 'Crimson Text', serif;
    position: relative;
}
.navbar-item a::before{
    content: attr(data-content);
    position: absolute; 
    top: -2px;
    left: 0;
    font-family: 'Crimson Text', serif;
    color:rgb(82,112,255);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease-in-out;
}
.navbar-item a:hover::before{
    width: 100%;
    /* transition: width 0.3s; */

}
.navbar-item a:hover{
    width: 0;
    transition: width 0.3s;

}

/*           Carousel               */

.carousel-item h1{
}
.carousel-indicators [data-bs-target]{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: aliceblue;
}

/*                       section titre de nouveates                     */
#nouveautes{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nouveautes p{
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: 1.5rem;
    font-weight: bold;

}
#nouveautes a{
    position: absolute;
    right: 20px;
    top: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(27, 196, 27);

}

/*                        slide  div des nouvoutes                     */
#swipper-nouveautes{
    margin-top: 40px;
    padding: 10px 12px;
    position: relative;
    width: 100%;
    /* height: 320px;
    overflow: hidden; */
}
.slide-item-container{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    /* overflow: hidden; */
   

}
.article{
    /* width: 10rem;
    height: 10rem; */
    position: relative;
    display: block;
    margin: 10px;

    width: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0,0.15);

}
.article:hover .article-cover{
    width: 90%;
} 
.article:hover  .article-items-3 li img{
    visibility: visible;
}
.article-cover{
    position: absolute;
    bottom: 22%;
    left: 0%;
    width: 0%;
    /* width: 87%; */
    height: 15%;
    cursor: pointer;
    z-index: 200;
    background-color: rgba(0, 0, 0,0.8);
    transition: width 0.3s ease;


}
.article-items-3{
    position: relative;
    top: 20%;
    right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}
.article-items-3 li{
text-decoration: none;}
.article-cover:hover{
    background-color: rgba(0, 0, 0,0.7);
}
.article-items-3 li img{
    height: 1.5rem;
    visibility: hidden;
    transition: visibility 0.3 ease-in-out;
    transition: padding 0.07s ease-in-out;
    opacity: 0.8;
}
.article-items-3 li img:hover{
    padding: 3px;
    opacity: 1;
}
.small{
    width: 13rem;
    height: 15rem;
    margin: 10px auto;
}
.article-img{
    position: relative;
    height: 16rem;
    width: 12rem;
    /* width:208.75px; */
}
.article-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: padding 0.2s,opacity 0.2s;
    border-radius: 5px;
    transform: translateX(0px);
}
.article-img img:hover{
    padding: 15px;
    cursor: pointer;
    opacity: 0.8;
}
.article-name{
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
}
.article-prix{
    color: #5270ff;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-top: -20px;
}
.article-panier img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
    color: rgb(82,112,255);
}
/*                     Categories            */



.categorie{
    width: 20rem;
    height: 17rem;
    position: relative;
    padding: 10px;
    margin: auto;
   cursor: pointer;
   margin: auto;
    /* box-shadow: 0px 0px 10px #000; */
}
.categorie-img{
    position: relative;
    top: 0;
    width: 100%;
    height: 10rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0,0.15);
}
.categorie-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.categorie-title{
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(27, 196, 27);
    font-weight: 700;
}
.categorie-list{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;

}
.categorie-list-item{
    /* letter-spacing: 3px; */
    color: #000;
    font-weight: 400;
    padding: 0px 2px;
}
.categorie p{
    color: rgb(82,112,255);
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;

}


/*                   sectionn   ce que  nous vous proposons        */

.article-covere{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.9);
    cursor: pointer;

}

.article-covere h1{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 7%;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.9rem;
}


/*           section Market                */
#market{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.market-img{
    position: relative;
    height: 200px;
    width: 500px;
    margin: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0,0.9);
    border-radius: 5px;
}
.market-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.article-prix-promo::before{
    position: absolute;
    top: 5%;
    right: 2%;
    /* cursor: pointer; */
    background-color: red;
    /* font-weight: bold; */
    height: 10px;
    width: 300px;
    z-index: 1000;
    
}
.article-prix-promo{
   
    position: absolute;
    top: 5%;
    right: 2%;
    cursor: pointer;
    color: red;
    font-weight: bold;

    text-decoration: line-through;
    text-decoration-line: line-through;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    

}

/*                      footer                  */
footer{
    min-height: 80vh;
    
     background-color: #000;
     color: white;
     padding: 40px;

}
.container-footer-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 40px;
}
.footer-item{
    display: block;
    height: 200px;
    width: 200px;
}
.footer-item h1{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 196, 27);
}
.footer-item p{
    font-family: Arial, Helvetica, sans-serif;
}
.footer-search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-search h1{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-box-footer{
    height: 40px;
     width: 500px;
    position: relative;
    /* padding: 10px; */
   

}
.footer-search-input{
    margin: 30px 20px 20px 20px;
    width: 20rem;
    position: relative;
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(27, 196, 27);
    padding: 2px 10px;
    font-size: 13px;
    font-weight: bold;
    

}
 .spane{
    margin: 30px 60px 20px 20px;

    display: inline-block;
    z-index: 23;
    position: absolute;
    top: 0;
    right: 0;
    width: 7rem;
    height: 40px;
    background-color: rgb(82,112,255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.spane p{
    margin-top: 10px;
    color: white;
    font-weight: bold ;
}
.menu-link{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 20px 40px 350px;
}
.menu-link img{
    height: 50px;
    width: 50px;
    /* background-color: rgb(82,112,255); */
    color: rgba(0, 0, 0,0.9);
    border-radius: 50%;
    margin: 20px;
    object-fit: contain;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 10px 10px;
}
.menu-link img:hover{
    background-color:rgb(27, 196, 27) ;
}



/*       sidebar      toggle   */

#sidebar-toggle{
    position: fixed;
    top: 0;
    bottom: 0;
   min-height: 100vh;
    width: 70vw;
    background-color: rgb(0, 0, 255);
    z-index: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    font: roboto, sans-serif;
    transform: translateX(-75vw);
    transition: translateX 1s ease-in;
}
#bars{
    position: absolute;
    top: 3rem;
    left: 2rem;
    display: none;
    
}
#Times{
    position: absolute;
    top: 0rem;
    right:0.5rem;
}









.box-test{
    height: 400px;
    width: 400px;
    position: relative;
    margin: 40px;
}
.box-test img{
    position: absolute;
    height: 350px;
    width: 350px;
    object-fit: contain;
    transition: padding 0.5s;

}
.box-test img:hover{
    padding: 20px;
    transition: padding 0.5s;
    cursor: pointer;
}



@media screen and (max-width:760px){
    body{
        width: 100%;
        height: 100%;
    }
    #sidebar{
        display: none;
    }
  
   
   
    .search-box{
        margin-top: 50px;
        /* margin-bottom: 20rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    #carouselExampleControlsNoTouching{
        margin-top: 3rem;
    }
   

    .footer-search-input{
        margin: 30px 20px 20px 20px;
    width: 10rem;
    /*width: 17rem;*/
    position: relative;
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(27, 196, 27);
    padding: 2px 10px;
    font-size: 13px;
    font-weight: bold;
    display: none;
    
    }
    .menu-link{
        margin: 20px 20px 40px 20px;
    }
     .spane{
        margin: 30px 100px 20px 20px;

        display: inline-block;
        z-index: 23;
        position: absolute;
        top: 0;
        right: 0;
        /*width: 7rem;*/
        width: 3rem;
        height: 40px;
        background-color: rgb(82,112,255);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        display: none;
        
    }
    .input-box-footer{
        display: none
    }
    .panier-info .panier-total-prix{
        margin-right: 0px
    }
}








/*                  modification du style dans la page Product Screen          */

.description-sections{
    align-items: flex-start;
}
.ul{
    list-style: none;
    line-height: 3rem;
    font-family: 'Cambay', sans-serif;
    font-weight: bold;
}
.ul li{font-weight: bold;}
.product-title{
    font-weight: bold;
    color: rgb(27, 196, 27);
}
.product-price{
    font-weight: bold;
    color: red;
    font-size: 1.3rem;
    font-family: 'Cambay', sans-serif;

}
.error{
    color:rgb(247, 23, 23);
    }
    .success{
        color: green;
    }

    .img-product-screen{
        position: absolute;
        height: 17rem;
        width: 100%;
        object-fit: contain;
        /* object-position: center; */
    }
    .product-screen-box{
        /* width: 100%; */
        height: 14rem;
        position: relative;
    }

    /*               style dans cart Screen */
    .smalle{
        max-width: 4rem;
        width: 100%;
    }
    .cart-item{
        list-style: none;
        margin-top: 20px;
        padding: 5px 0px;
        border: 1px solid rgba(27, 196, 27,0.5);
        border-left: none;
        border-right: none;
    }
    .cart-item:hover{
        background-color: rgba(27, 196, 27,0.2);
    }
    .item-name-box,.item-price,.item-select-box,.item-button{
        margin-top: 20px;
    }
    .item-name{
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
        font-weight: 400;
    }
    .item-select-box select{
        padding: 5px 5px;
        max-width: 4rem;
        width: 100%;
        border-radius: 5px;
        outline: none;
    }
    .item-select-box select:focus, .item-select-box select:hover{
        box-shadow: 0px 0px 7px rgb(27, 196, 27);
    }
    .item-price{
        font-weight: bold;
        
    }
    .item-button button{
        outline: none;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 3px black;
        padding: 5px 10px;
        background: #d43f3a;
        color: white;
    }
    .item-button button:hover{
        background: rgb(224, 55, 50);
    }
    .cart-item-title{
        text-align: center;
        font-size: 1.4rem;
        font-weight: 1000;
        margin: 25px;
    }
/*  toujours dans cart Screen message Box */
#message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4rem;
    /* flex-wrap: wrap; */
}
    .message-box-title{
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 5px 10px;
    }
    .message-box-image{
        max-width: 20rem;
        width: 100%;
        
    }
    .message-button{
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: rgb(27, 196, 27);
        padding: 0px 10px;
        margin: 30px 0px 0px 20px;
        color: white;

    }
    .panier-info{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        /* margin: 3rem 3rem 2rem 2rem; */
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    .panier-total-prix{
        font-weight: bold;
        font-size: 1.2rem;
        margin-right: 18rem
    }
    .cart-button{
        margin-top: 2rem;
    }
    .button-commande{
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        color: white;
        background:rgb(82,112,255) ;
        font-weight: bold;
        transition: box-shadow 0.2s;
    }
    .button-commande:focus,.button-commande:hover{
        box-shadow: 0px 0px 10px black;
    }
    .para-home{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 5px 10px;
        text-shadow: 0px 0px 5px rgb(27, 196, 27);
        transition: text-shadow 0.2s;
    }
    .para-home:hover{
        text-shadow: 0px 0px 5px rgb(82,112,255);

    }







    /*                 */